<div class="container">

<div class="row">
	<div class="small-12 columns">
		<h2>Viewing rule for <%=data.rule.url%></h2>
		<a href="/rule" class="btn btn-large">View rules</a>
		<a href="/rule/new" class="btn btn-large">New rule</a>
	</div>			
</div>

<div class="row">
	<div class="small-6 columns end">
		<table>
			<tr>
				<td>Url</td>
				<td>Content</td>
				<td>position</td>
				<td>multistep</td>
				<td>multiStepContent</td>
				<td>hook</td>
				<td>owner</td>
			</tr>
			<tr>
		
			</tr>
		</table>
		
	</div>
</div>

</div>